.logo-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include breakpoint(md) {
        grid-template-columns: repeat(4, 1fr);
      }

    @include breakpoint(lg) {
        grid-template-columns: repeat(6, 1fr);
      }
}

@media (max-width: 62em) {
    .logo-grid li:nth-child(even) {
        .brand-card {
            border-right: none;
        }
    }
}

.logo-grid li:nth-child(n+15):nth-child(-n+16) {
    .brand-card {
        border-bottom: none;
    }
}

@include breakpoint(md) {
    .logo-grid li:nth-child(n+15):nth-child(-n+16) {
        .brand-card {
            border-bottom: 1px solid $light-gray;
            border-bottom: 1px solid rgba($secondary-color, .3);
        }
    }

    .logo-grid li:nth-child(4n) {
        .brand-card {
            border-right: none;
        }
    }
    
    .logo-grid li:nth-child(n+33) {
        .brand-card {
            border-bottom: none;
        }
    }
}

@include breakpoint(lg) {
    .logo-grid li:nth-child(4n) {
        .brand-card {
            border-right: 1px solid $light-gray;
            border-right: 1px solid rgba($secondary-color, .3);
        }
    }
    
    .logo-grid li:nth-child(n+13):nth-child(-n+16) {
        .brand-card {
            border-bottom: 1px solid $light-gray;
            border-bottom: 1px solid rgba($secondary-color, .3);
        }
    }

    .logo-grid li:nth-child(6n) {
        .brand-card {
            border-right: none;
        }
    }
    
    .logo-grid li:nth-child(n+31):nth-child(-n+33) {
        .brand-card {
            border-bottom: none;
        }
    }
}