<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer">
    <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
    <title>{{ if .Params.seo.page_title }}{{ .Params.seo.page_title | markdownify }}{{ else }}{{ .Title }}{{ end }} | {{ .Site.Data.site_settings.business_name }}</title>

    <meta name="title" content="{{ .Title }}">
    <meta name="description" content="{{ .Params.seo.meta_description }}">

    <meta property="og:site_name" content="{{ .Site.Title }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ if .Params.seo.page_title }}{{ .Params.seo.page_title  | markdownify }}{{ else }}{{ .Title }}{{ end }} | {{ .Site.Title }}">
    <meta property="og:description" content="{{ .Params.seo.meta_description }}">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:locale" content="en_US">
    <meta property="og:image" content="{{ if .Params.seo.featured_image }}{{ .Site.BaseURL }}{{ .Params.seo.featured_image }}{{ end }}">

    <meta property="twitter:card" content="summary">
    <meta property="twitter:url" content="{{ .Permalink }}">
    <meta property="twitter:title" content="{{ .Params.seo.page_title }}">
    <meta property="twitter:description" content="{{ .Params.seo.meta_description }}">
    <meta property="twitter:site" content="@">
    <meta property="twitter:image" content="{{ if .Params.seo.featured_image }}{{ .Site.BaseURL }}{{ .Params.seo.featured_image }}{{ end }}">

    <link rel="canonical" href="{{ .Permalink }}">

    {{ with resources.Get "scss/critical.scss" | toCSS | resources.PostCSS | minify }}
    <style>{{ .Content | safeCSS }}</style>
    {{ end }}

    {{ $scss := resources.Get "scss/main.scss" | toCSS }}
    {{ $postcss := $scss | resources.PostCSS | minify }}
    <link rel="preload" href="{{ $postcss.Permalink }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="{{ $postcss.Permalink }}"></noscript>

    {{ "<!--Favicon-->" | safeHTML }}
    <link rel="icon" href="/uploads/favicon.svg">
    <link rel="mask-icon" href="mask-icon.svg" color="#000000">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

</head>