blockquote {
  background: $light-gray;
  background: $black;
  color: $light-gray;
  padding: $ic-200;
  position: relative;
  margin: $ic-300 0;
  outline: 1px solid rgba($light-gray, 0.2);
  outline-offset: -20px;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-image: url("/uploads/quote.svg");
    background-repeat: no-repeat;
    background-size: 25%;
    width: 100%;
    height: 100%;
    opacity: 0.04;
  }

  p {
    padding: $ic-200;
    font-style: italic;
  }
}
