// Colors
$brand-black: #414042;
$dark-black: #1d1d1d;
$body-black: #292929;
$primary-color: #cd1f40;
$secondary-color: #92981b;
$tertiary-color: #8bc0c6;
$dark-gray: #a8a8a8;
$light-gray: #f6f6f6;
$white: #ffffff;

// overlays
$white-overlay: rgba(255, 255, 255, 0.9);

$blue-shadow: rgba(43, 59, 147, 0.2);

/* mulish-regular - latin */
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/mulish-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/mulish-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mulish-500 - latin */
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/mulish-v12-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/mulish-v12-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mulish-700 - latin */
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/mulish-v12-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/mulish-v12-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mulish-900 - latin */
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('../fonts/mulish-v12-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/mulish-v12-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mulish-italic - latin */
@font-face {
  font-family: 'Mulish';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('../fonts/mulish-v12-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/mulish-v12-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mulish-700italic - latin */
@font-face {
  font-family: 'Mulish';
  font-style: italic;
  font-weight: 700;
  src: local(''),
       url('../fonts/mulish-v12-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/mulish-v12-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

// Fonts
$primary-font: "Mulish", sans-serif;
$secondary-font: "Mulish", sans-serif;

$mobile-header: 104px;
$desktop-header: 103px;

// Scale and rhythm based on a major third
$scale: 1.25;

$ic--200: 1rem / $scale / $scale;
$ic--100: 1rem / $scale;
$ic-100: 1rem;
$ic-200: 1rem * $scale;
$ic-300: 1rem * $scale * $scale;
$ic-400: 1rem * $scale * $scale * $scale;
$ic-500: 1rem * $scale * $scale * $scale * $scale;
$ic-600: 1rem * $scale * $scale * $scale * $scale * $scale;
$ic-700: 1rem * $scale * $scale * $scale * $scale * $scale * $scale;
$ic-800: 1rem * $scale * $scale * $scale * $scale * $scale * $scale * $scale;
$ic-900: 1rem * $scale * $scale * $scale * $scale * $scale * $scale * $scale *
  $scale;
$ic-1000: 1rem * $scale * $scale * $scale * $scale * $scale * $scale * $scale *
  $scale * $scale;

// // Scale and rhythm based on a perfect fourth
// $ic-100: 0.75rem;
// $ic-200: 1rem;
// $ic-300: 1.333rem;
// $ic-400: 1.777rem;
// $ic-500: 2.369rem;
// $ic-600: 3.157rem;
// $ic-700: 4.209rem;

$measure-short: 60ch;
$measure: 80ch;
$measure-long: 90ch;

$transition: .3s ease-out;